.icon-envelope {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 12px;
    fill: currentColor;
    
   }
   .icon-phone {
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 16px;
    fill: currentColor;
   }