.advantages {
  margin-top: 60px;
  margin-bottom: 60px;

  @include for-size(desktop) {
    margin-top: 94px;
    margin-bottom: 94px;
  }
}

.advantages__list {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8;
  counter-reset: list;

  @include for-size(tablet) {
    display: flex;
    flex-wrap: wrap;
  }
}

.advantages__item {
  width: 100%;
  margin-bottom: 30px;

  @include for-size(tablet) {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    &:nth-child(2n) {
      margin-right: 0;
    }

    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }

  @include for-size(desktop) {
    width: calc((100% - 30px * 3) / 4);
    margin-bottom: 0;

    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}

.advantages__item::before {
  display: block;
  content: " ";
  height: 120px;
  background-color: $primary-button-bcg-color;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px;
}

.advantages__item {
  &:nth-child(1)::before {
    background-image: url(../images/antenna-copy.svg);
  }
  &:nth-child(2)::before {
    background-image: url(../images/clock-copy.svg);
  }
  &:nth-child(3)::before {
    background-image: url(../images/diagram-copy.svg);
  }
  &:nth-child(4)::before {
    background-image: url(../images/astronaut-copy.svg);
  }
}

.advantages__titles {
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: $secondary-text-color;
  padding-top: 30px;
}

.advantages__paragraph {
  margin: 0px;
}
